@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

html {
    font-family: 'Tektur', sans-serif;
    font-size: 16px;
    background: #f4f4f7;
}

table {
    background-color: #ffffff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}