{% extends 'base.html' %}

{% block titulo %}Tienda Virtual{% endblock %}

{% block contenido %}
    <table align="center">
            <tr>
                <td>
                    <img src="{{ url_for('static', filename ='fotos/') }}{{producto.id}}.jpg" width="256" alt="">
                </td>
                <td><h2>{{ producto.categoria }} - {{ producto.marca }}</h2>
                    <h1>{{ producto.nombre }}</h1>
                    <h2>{{ "{:,}".format(producto.precio) }}</h2>
                </td>
            </tr>
            <td style="text-align: center;">
                <a href="/">
                    <button>Volver</button>
                </a>
            </td>
    </table>
{% endblock %}